<h1>Appointments</h1>

Date: <%= @appointment.get_date%><br>
Time: <%= @appointment.get_time%> military time<br>
Patient: <%=link_to @appointment.patient.name, @appointment.patient%><br>
Doctor: <%=link_to @appointment.doctor.name, @appointment.doctor%><br>
